_raw*
ckpt/
gym/
unused/
__pycache__/
assets/
assets_/
./runs/*
./logs/*
runs/
logs/
oldlogs/
logs_old/
*.zip
teaser/
show_test_map.py
logs_copy/
**/__pycache__
wandb*/
scripts/
Pointnet2_PyTorch/
ckpt/
expert_data/
# log*
wand*
logs*/
/scratch/genghaoran/RL-Pose/PoseOrientedGym/logs
/scratch/genghaoran/RL-Pose/PoseOrientedGym/wandb
baselines/